{
  "extends": "airbnb",
  "env": {
    "esnext": true,
  },
  "rules": {
    "no-var": 0,       // http://eslint.org/docs/rules/no-var
    "prefer-const": 0, // http://eslint.org/docs/rules/prefer-const
    "func-names": 0,   // http://eslint.org/docs/rules/func-names
    "no-console": 0,   // http://eslint.org/docs/rules/no-console
  },
}
